lessons_DTD.dtd

<!ELEMENT Courses (Course+)>
<!ELEMENT Course (Name, Teacher, ClassTime, StartDate, Duration, Sources+)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Teacher (#PCDATA)>
<!ELEMENT ClassTime (#PCDATA)>
<!ELEMENT StartDate (#PCDATA)>
<!ELEMENT Duration (#PCDATA)>
<!ELEMENT Sources (Source+)>
<!ELEMENT Source (#PCDATA)>

